<div class="row clearfix">
<%= product.product_name %>
<%= link_to store_product_path(@store, product.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>

</div>